<div class="swiper-container">
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">
      <div class="c-card">
        <div class="card-item card-content">
          <div class="card-title">Gold Package</div>
          <div class="card-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nisl
            nibh, sagittis ac faucibus sit amet, faucibus vitae lacus.
          </div>
          <div class="card-price">$140</div>
        </div>
        <div class="card-actions">
          <button class="c-btn c-btn-primary">See Details</button>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="c-card">
        <div class="card-item card-content">
          <div class="card-title">Platinum Package</div>
          <div class="card-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nisl
            nibh, sagittis ac faucibus sit amet, faucibus vitae lacus.
          </div>
          <div class="card-price">$140</div>
        </div>
        <div class="card-actions">
          <button class="c-btn c-btn-primary">See Details</button>
        </div>
      </div>
    </div>

    <div class="swiper-slide">
      <div class="c-card">
        <div class="card-item card-content">
          <div class="card-title">Silver Package</div>
          <div class="card-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nisl
            nibh, sagittis ac faucibus sit amet, faucibus vitae lacus.
          </div>
          <div class="card-price">$140</div>
        </div>
        <div class="card-actions">
          <button class="c-btn c-btn-primary">See Details</button>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div> -->
   <!-- <div class="swiper-pagination"></div> -->
  <!-- <div class="swiper-scrollbar"></div> -->
</div>
