<div class="wrapper">
  <c-header> </c-header>
  <div class="section section-main">
    <div class="section-wrapper col-12 col-md-10 col-lg-10 p-0">
      <div class="section-img">
        <div class="img-holder col-10">
          <img src="../assets/images/section_main_content.png" alt="" />
        </div>
      </div>
      <div class="section-content">
        <div class="section-title">
          <div class="sub-title">SOCIAL MEDIA</div>
          <div class="title">FOR BUSINESS!</div>
          <div class="description">
            PERFOMANCE BASED SOCIAL MEDIA AGENCY WE ARE LOREM MEDIA
          </div>
        </div>
        <div class="section-actions mt-4">
          <button class="c-btn c-btn-primary">GET A FREE AUDIT</button>
        </div>
      </div>
    </div>
    <button class="c-btn-round scroll-btn">
      <img src="../assets/images/icons/scroll.png" alt="" />
    </button>
  </div>
  <div class="section">
    <div class="section-wrapper p-y-5 section-about col-12 pr-0">
      <div class="section-img col-lg-6 col-md-6">
        <div class="img-holder col-10">
          <img src="../assets/images/about_section.png" alt="" />
        </div>
      </div>
      <div class="section-content col-lg-6 col-md-6">
        <div class="section-title col-lg-8 col-12">
          <div class="sub-title">Who We Are</div>
          <div class="description">
            Lorem Media is a full-service social media agency. We offer
            businesses innovative solutions that deliver the right type of
            audience to you in the most effective strategies possible. We strive
            to develop a community around your business, polishing your
            branding, and improving your public relations. Social Media is now
            one of the most powerful marketing tools with the ability to
            communicate with a target audience in real time. It's 2019: time to
            sink or swim.
          </div>
        </div>
        <div class="section-actions mt-4">
          <button class="c-btn c-btn-primary">SEE MORE</button>
        </div>
      </div>
    </div>
  </div>
  <div class="section section-services">
    <div class="section-wrapper col-12 col-lg-10">
      <div class="section-content col-lg-12 col-md-12">
        <div class="section-title">
          <div class="sub-title">What We Offer</div>
        </div>
        <div class="section-cards">
          <div class="c-card">
            <div class="card-item card-icon">
              <img src="../assets/images/icons/social_media.png" alt="" />
            </div>
            <div class="card-item card-content">
              <div class="card-title">SOCIAL MEDIA MANAGEMENT</div>
              <div class="card-description">
                Perfect for growing your brand’s social community and engage
                with the right audience. We manage everything from curation of
                content to management of comments and everything in between.
              </div>
            </div>
            <div class="card-actions">
              <button class="c-btn c-btn-primary c-btn-xs">SEE MORE</button>
            </div>
          </div>
          <div class="c-card">
            <div class="card-item card-icon">
              <img src="../assets/images/icons/social_growth.png" alt="" />
            </div>
            <div class="card-item card-content">
              <div class="card-title">SOCIALS GROWTH CAMPAIGN</div>
              <div class="card-description">
                Our social growth campaign will have your socials come alive.
                With constant growth and engagement you will be sure to have the
                thriving you’ve been looking for.
              </div>
            </div>
            <div class="card-actions">
              <button class="c-btn c-btn-primary c-btn-xs">SEE MORE</button>
            </div>
          </div>
          <div class="c-card">
            <div class="card-item card-icon">
              <img src="../assets/images/icons/branding.png" alt="" />
            </div>
            <div class="card-item card-content">
              <div class="card-title">BRANDING & MEDIA</div>
              <div class="card-description">
                Done right, branding offers a company an edge over the
                competition. So what exactly is branding, and why is it
                important for companies to integrate a well-rounded branding and
                media strategy?
              </div>
            </div>
            <div class="card-actions">
              <button class="c-btn c-btn-primary c-btn-xs">SEE MORE</button>
            </div>
          </div>
          <div class="c-card">
            <div class="card-item card-icon">
              <img src="../assets/images/icons/marketing.png" alt="" />
            </div>
            <div class="card-item card-content">
              <div class="card-title">INFLUENCER MARKETING</div>
              <div class="card-description">
                We will pair your business with influencers that speak to your
                audience. Influencer Marketing is the most effective way to
                reach a loyal audience.
              </div>
            </div>
            <div class="card-actions">
              <button class="c-btn c-btn-primary c-btn-xs">SEE MORE</button>
            </div>
          </div>
          <div class="c-card">
            <div class="card-item card-icon">
              <img src="../assets/images/icons/ads.png" alt="" />
            </div>
            <div class="card-item card-content">
              <div class="card-title">SOCIAL MEDIA PAID ADVERTISING</div>
              <div class="card-description">
                Our ad campaigns will bring you the results your looking for.
                From brand awareness campaigns to lead funnels, we have got the
                tools to create the right ads for your business. Our
                re-targeting campaigns will be sure to get your visitors coming
                back to your site.
              </div>
            </div>
            <div class="card-actions">
              <button class="c-btn c-btn-primary c-btn-xs">SEE MORE</button>
            </div>
          </div>

          <div class="c-card">
            <div class="card-item card-icon">
              <img src="../assets/images/icons/content.png" alt="" />
            </div>
            <div class="card-item card-content">
              <div class="card-title">CONTENT MARKETING SERVICES</div>
              <div class="card-description">
                We can create and provide your company with the best content
                marketing for your socials to improve online presence. Creating
                valuable and quality content helps boost conversions and improve
                customer retention.
              </div>
            </div>
            <div class="card-actions">
              <button class="c-btn c-btn-primary c-btn-xs">SEE MORE</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section section-pricing">
    <div class="section-wrapper col-12 col-lg-12">
      <div class="section-content col-lg-12 col-md-12">
        <div class="section-title">
          <div class="sub-title">Our Pricing</div>
        </div>
        <div class="section-slider" id="section-slider">
          <app-slider></app-slider>
        </div>
      </div>
    </div>
  </div>
  <app-subscribe></app-subscribe>
  <app-footer></app-footer>
</div>
