<div class="footer">
  <div class="wrapper col-12 col-lg-10 col-md-10">
    <div class="row logo-section">
      <div class="logo col col-lg-3 col-md-3">
        <div class="img-holder">
          <img src="../../../assets/images/logo_white.png" alt="" />
        </div>
        <div class="font-18 slogan">Stay in touch</div>
        <div class="social-media">
          <div class="img-holder">
            <img src="../../../assets/images/icons/fb.png" alt="Facebook" />
          </div>
          <div class="img-holder">
            <img
              src="../../../assets/images/icons/google.png"
              alt="Google Plus"
            />
          </div>
          <div class="img-holder">
            <img src="../../../assets/images/icons/twitter.png" alt="Twitter" />
          </div>
          <div class="img-holder">
            <img
              src="../../../assets/images/icons/instagram.png"
              alt="Instagram"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="logo-lg-section col col-lg-3 col-md-3">
        <div class="img-holder">
          <img src="../../../assets/images/logo_white.png" alt="" />
        </div>
        <div class="font-31 slogan">Stay in touch</div>
        <div class="social-media">
          <div class="img-holder">
            <img src="../../../assets/images/icons/fb.png" alt="Facebook" />
          </div>
          <div class="img-holder">
            <img
              src="../../../assets/images/icons/google.png"
              alt="Google Plus"
            />
          </div>
          <div class="img-holder">
            <img src="../../../assets/images/icons/twitter.png" alt="Twitter" />
          </div>
          <div class="img-holder">
            <img
              src="../../../assets/images/icons/instagram.png"
              alt="Instagram"
            />
          </div>
        </div>
      </div>
      <div class="col col-lg-3 col-md-3">
        <ul>
          <li class="menu-header">Quick Links</li>
          <li>About</li>
          <li>Home</li>
          <li>Pricing</li>
          <li>Location</li>
          <li>Office</li>
        </ul>
      </div>
      <div class="col hours col-lg-3 col-md-3">
        <ul>
          <li class="menu-header">Hours</li>
          <li>Monday: 9:00 - 18:00</li>
          <li>Tuesday: 9:00 - 18:00</li>
          <li>Wednesday: 9:00 - 18:00</li>
          <li>Thursday: 9:00 - 18:00</li>
          <li>Friday: 9:00 - 18:00</li>
        </ul>
      </div>
      <div class="col  col-lg-3 col-md-3">
        <ul>
          <li class="menu-header">Quick Links</li>
          <li>About</li>
          <li>Home</li>
          <li>Pricing</li>
          <li>Location</li>
          <li>Office</li>
        </ul>
      </div>
    </div>
  </div>
</div>
